---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About me";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{skillColor, fontWeight, textCase}}>
    h1 {
        color: purple;
        font-size: 4rem;
    }
    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400" rel="stylesheet">
</head>

<section id="CoverPage">
    <div>
        <h1>Hello.</h1>   
        <h1>My name is Jan.</h1>
        <h1>I'm a penultimate year Engineering / Computer Science student at the University of Sydney.</h1>
        <h1>Currently, I'm learning how to break things.</h1>
    </div>
    <div id="scroll_arrow" class="demo">
        <a href="#content"><span></span>Scroll</a>
    </div>
</section>

<div id="content">
    <BaseLayout pageTitle={pageTitle}>
        <h2>I am a penultimate year student studying a combined degree in Mechatronics Engineering (Space Design Major) and Science (Computer Science Major). I am fluent in C and Python</h2>

        <p>Here are a few facts about me:</p>
        <ul>
        <li>My name is {identity.firstName}.</li>
        <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
        {identity.hobbies.length >= 2 && 
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
        } 
        </ul>
        <p>My skills are:</p>
        <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>I am happy to be learning Astro!</p>}

        {finished && <p>I finished this tutorial!</p>}

        {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>
</div>