---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.pageTitle}>
    <h2 class="text-4xl my-4 font-bold"> {frontmatter.title}</h2>
    <!-- <p>{frontmatter.pubDate.slice(0,10)}</p> -->
    <p class="text-lg my-4"><em>{frontmatter.description}</em></p>
    <p class="my-4">Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="250" alt={frontmatter.image.alt} />
    
    <div class="my-2">
      <article class="prose
      prose-p:text-gray-50
        prose-headings:text-white
        prose-strong:text-white
          prose-li:marker:text-white
        prose-code:text-green-500
        
      ">
        <slot />
      </article>
    </div>
</BaseLayout>
<style>
  a {
    color: #00539F;
  }
        
  /* .tags {
    display: flex; 
    flex-wrap: wrap; 
    margin: 0 auto;  
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  } */
</style>